<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <%- include('../../partials/headPartials.ejs') %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar Paciente - CMD</title>
        <link rel="stylesheet" href="../../css/sectionPrestadores/agregarUsuario.css">
</head>

<body>
    <header>
        <%- include('../../partials/prestadoresHeader.ejs') %>
    </header>
    <main>
        <div class="divFormContainer">
            <form>
                <div class="mb-3">
                    <div class="formMedicoNombre">
                        <h1>Agregar Paciente</h1>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Tipo de Usuario</label>
                            <select name="userType" class="form-select" id="userType" disabled>
                                <option selected>Paciente</option>
                            </select>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" placeholder="Nombre de usuario"
                                aria-label="Username" id="alias" name="alias" aria-describedby="addon-wrapping">
                        </div>
                        <br>
                        <div class="input-group mb-3 ">
                            <span class="input-group-text">Contraseña</span>
                            <input id="password" type="password" class="form-control" name="password"
                                aria-label="Sizing example input" id="password" placeholder=""
                                aria-describedby="inputGroup-sizing-default" disabled>
                        </div>
                        <h6 style="font-style: italic;">Se utilizará la dirección de correo electrónico
                            como contraseña hasta que el mismo paciente la modifique.</h6>
                        <h3>Datos del Paciente</h3>
                        <div class="row">
                            <div class="col" id="nombreDiv">
                                <label for="exampleFormControlInput1" class="form-label">Nombre(s)*</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <label for="exampleFormControlInput1" class="form-label">Apellido(s)*</label>
                                <input type="text" class="form-control" id="apellido" name="apellido"
                                    placeholder="Apellido">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email*</label>
                        <input type="email" name="email" class="form-control" id="email"
                            placeholder="ejemplo@ejemplo.com">
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Documento*</label>
                            <input type="text" class="form-control" name="dni" placeholder="Número de Documento"
                                aria-label="First name" id="dni"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </div>
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Teléfono*</label>
                            <input type="text" class="form-control" placeholder="Número de Teléfono"
                                aria-label="Last name" name="telefono" id="telefono"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Domicilio*</label>
                        <input type="text" class="form-control" name="domicilio" id="domicilio"
                            placeholder=" Padre Silberman 1740, Santos Lugares">
                    </div>
                    <br>
                    <div>
                        <div class="row">
                            <div class="col" id="sexoDiv">
                                <label for="sexo">Sexo*
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sexo" id="femenino"
                                            value="0">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Femenino
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sexo" id="masculino"
                                            value="1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Masculino
                                        </label>
                                    </div>
                            </div>
                            <div class="col">
                                <label for="nacimiento">Fecha de nacimiento</label>
                                <input type="date" name="nacimiento" class="dateInput" min="1915-01-01" id="datefield">
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <button type="button" class="btn btn-success" id="submitButton">Añadir paciente</button>
                <a href="/prestadores/secretaria/home"><button type="button" class="btn btn-danger">Volver</button></a>
            </form>
        </div>
        <div class="alerta top-0 end-0">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="liveToast">
                <div class="toast-header">
                    <i class="fa-solid fa-circle-exclamation fa-beat" style="color: #db0000;"></i>
                    <strong class="me-auto" style="margin-left: 5px;">Error</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <span id="toast-text"></span>
                </div>
            </div>
        </div>
    </main>
    <%- include('../../partials/scriptPartials.ejs') %>
        <script src="/js/addPaciente.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit-icons.min.js"></script>
</body>

</html>