<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
    <link rel="stylesheet" type= "text/css" herf= "http.//fonts.googleapis.com/css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/especialidades.css">
    
    <title>Consultorios Médicos David</title>
</head>
<body class="text-body">
  <header>
    <div class = "top-header">
      <div class ="social-media" >
        <a href = "https://www.instagram.com/consultoriosmedicosdavid/" target="_blank"><i class="fa-brands fa-instagram fa-2xl fontColor "></i></a>
        <a href = "https://www.facebook.com/ConsultoriosMedicosDavid" target="_blank"><i class="fa-brands fa-facebook fa-2xl fontColor"></i></a>
      </div>
      <nav class="nav-top-header"> 
         <ul class="top-header-ul">
          <li><p><a  href="/login">Pacientes</a></p></li>
          <li><p><a  href="/prestadores">Prestadores</a></p></li>
         </ul>
      </nav>
    </div>
    <div class="bottom-header">
      <div class="especialidadesLogo">
       <img  src="img/logoCMD.png" alt="Logo CMD"/>
      </div>
      <div class="main-menu">
        <ul>
        <li><p><a href="index.html">Nosotros</a></p></li>
        <li><p><a href="/register">Registro</a></p></li>
        <li><p><a href="/turnos">Turnos</a></p></li>
        <li><p><a href="/especialidades">Especialidades</a></p></li>
        <li><p><a href="#">Contacto</a></p></li>
       </ul>
      </div>
    </div>
  </header>

    <main>

        <div class="container text-center">
            <div class="row">
                <img src="img/especialidades.jpeg" class="col-4"></img>
                <div class="col">
                    <div class="row miclase">
                        <p class="tituloEspecialidades">Nuestras Especialidades Medicas</p>
                    </div>
                    <div class="parrafoEspecialidades">
                        <ul>
                            <li>Medicina clínica</li>
                            <li> reumatología</li>
                            <li> Cardiología</li>
                            <li> Urología</li>
                            <li> Dermatología</li>
                            <li> Neurología</li>
                            <li> Flebología</li>
                            <li> Diabetología</li>
                            <li> Gastroenterología</li>
                            <li> Otorrinolaringología</li>
                            <li> Ginecología</li>
                        </ul>

                        <ul>
                            <li> Nefrología</li>
                            <li> Obstetricia</li>
                            <li> Nutrición</li>
                            <li> Pediatría</li>
                            <li> Kinesiología</li>
                            <li> Psiquiatría</li>
                            <li> Hematología</li>
                            <li> Psicología</li>
                            <li> Fonoaudiología</li>
                            <li> Traumatología</li>
                            <li> Psicopedagogía</li>
                            <li> Oftalmología y Neumonología.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer class="footerBox">
        <div class="WhatsApp">
            <a href="" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl whatsAppLogo"></i></a>
            <span>Puedes hacer clic en el ícono o simplemente enviar un mensaje a +54 9 11 7080-3287</span>
        </div>
        <div class="divTelefono">
            <p><i class="fa-solid fa-phone"></i> 4757-2389</p>
        </div>
    </footer>

</body>

</html>
