<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
    <link rel="stylesheet" type= "text/css" herf= "http.//fonts.googleapis.com/css">
    <link rel="stylesheet" href="css/styles.css">
    
    <title>Consultorios Médicos David</title>
</head>
<body> <!--START BODY-->
  <header> <!--start header-->
    <div class = "top-header">
      <div class ="social-media" >
        <a href = "https://www.instagram.com/consultoriosmedicosdavid/" target="_blank"><i class="fa-brands fa-instagram fa-2xl fontColor "></i></a>
        <a href = "https://www.facebook.com/ConsultoriosMedicosDavid" target="_blank"><i class="fa-brands fa-facebook fa-2xl fontColor"></i></a>
      </div>
      <nav> 
        <ul>
        <li><p><a href="pacientes.html">Pacientes</a></p></li>
        <li><p><a href="prestadores.html">Prestadores</a></p></li>

      <nav class="nav-top-header"> 
        <ul class="top-header-ul">
          <li><p><a class="textWhite" href="pacientes.html">Pacientes</a></p></li>
          <li><p><a class="textWhite" href="prestadores.html">Prestadores</a></p></li>

        </ul>
      </nav>
    </div>
    <div class="bottom-header">
      <div class="logo">
       <img  width="90px" height="90px" src="img/logoCMD.png"  alt="Logo CMD"/>
      </div>
    <!--  NO FUNCIONA LOGO CSS 
          <img width="50px" height="50px" src="img/logoCMD.png alt="Logo CMD"">
        </div>
      -->
      <div class="main-menu">
        <ul>
        <li><p><a href="index.html">Nosotros</a></p></li>
        <li><p><a href="registro.html">Registro</a></p></li>
        <li><p><a href="turnos.html">Turnos</a></p></li>
        <li><p><a href="especialidades.html">Especialidades</a></p></li>
        <li><p><a href="#">Contacto</a></p></li>
       </ul>
      </div>
    </div>
  </header>

  <section class="banner"> 
    <img src="img/banner_index_01.png" alt="Banner institucional">
    <h1>Acá va una frase institucional o amigable</h1>
  </section>    
<main>    
  <section class="estudios"> <!--SECCION ESTUDIOS-->
    <h3>ESTUDIOS MEDICOS</h3>
    <div class="estudios-medicos">
        <article>
            <img width="375px" height="200px" src="images/logoCMD.png" alt="Radiología" class="product_img">
            <div class="main-article">
                <p class="info">aca va algo de informacion que querramos poner</p>
                <h4 class="description">Mas información</h4>
            </div>
        </article>
        <article>
          <img width="50px" height="50px" src="images/" alt="Radiología" class="product_img">
          <div class="main-article">
              <p class="info">aca va algo de informacion que querramos poner</p>
              <h4 class="description">Mas información</h4>
          </div>
        </article>
        <article>
          <img width="50px" height="50px" src="images/" alt="Radiología" class="product_img">
          <div class="main-article">
              <p class="info">aca va algo de informacion que querramos poner</p>
              <h4 class="description">Mas información</h4>
          </div>
        </article>
        <article>
          <img width="50px" height="50px" src="images/" alt="Radiología" class="product_img">
          <div class="main-article">
              <p class="info">aca va algo de informacion que querramos poner</p>
              <h4 class="description">Mas información</h4>
          </div>>
            </div>
        </article>
        </div>
      </section> 

</main>
    <footer>
        <div class="divFooterWhatsApp">
            <a href="" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl whatsAppLogo"></i></a>
            <span>Puedes hacer clic en el ícono o simplemente enviar un mensaje a +54 9 11 7080-3287</span>
        </div>
        <div class="divTelefono">
            <p><i class="fa-solid fa-phone"></i> 4757-2389</p>
        </div>
    </footer>
</body>
</html>
