<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
    <link rel="stylesheet" type= "text/css" herf= "http.//fonts.googleapis.com/css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Consultorios Médicos David</title>
</head>
<body> <!--START BODY-->
  <header> <!--start header-->
    <div class = "top-header">
      <div class ="social-media" >
        <!--agregar redes sociales-->
      </div>
      <nav class="nav-top-header"> 
        <ul class="top-header-ul">
          <li><p><a class="textWhite" href="pacientes.html">Pacientes</a></p></li>
          <li><p><a class="textWhite" href="prestadores.html">Prestadores</a></p></li>
        </ul>
      </nav>
    </div>
  </header>
    <div class="bottom-header">
      <div class="logo">
        <img width="70px" height="70px" src="img/logoCMD.png"  alt="Logo CMD"/>
      </div>

      <div class="main-menu">
        <ul>
        <li><p><a href="index.html">Home</a></p></li>
        <li><p><a href="#">Blabla</a></p></li>
        <li><p><a href="turnos.html">Turnos</a></p></li>
        <li><p><a href="especialidades.html">Especialidades</a></p></li>
        <li><p><a href="#">Sarasa</a></p></li>
       </ul>
      </div>
    </div>
  

<main>
    <!--divs con imagenes de estudios - descripcion - etc-->
</main>
<footer>
<p>Aca va el footer copyright blabla </p>
</footer>
</html>
