<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
    <link rel="stylesheet" type= "text/css" herf= "http.//fonts.googleapis.com/css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/turnos.css">
    
    <title>Consultorios Médicos David</title>
</head>
<body> <!--START BODY-->
  <header> <!--start header-->
    <div class = "top-header">
      <div class ="social-media" >
        <a href = "https://www.instagram.com/consultoriosmedicosdavid/" target="_blank"><i class="fa-brands fa-instagram fa-2xl fontColor "></i></a>
        <a href = "https://www.facebook.com/ConsultoriosMedicosDavid" target="_blank"><i class="fa-brands fa-facebook fa-2xl fontColor"></i></a>
      </div>

      <nav class="nav-top-header"> 
         <ul class="top-header-ul">
          <li><p><a  href="/login">Pacientes</a></p></li>
          <li><p><a  href="/prestadores">Prestadores</a></p></li>
         </ul>
      </nav>
    </div>
    <div class="bottom-header">
      <div class="logo">
       <a href="/"><img src="img/logoCMD.png"  alt="Logo CMD"/></a>
      </div>
      <div class="main-menu">
        <ul>
        <li><p><a href="#">Nosotros</a></p></li>
        <li><p><a href="/register">Registro</a></p></li>
        <li><p><a href="/turnos">Turnos</a></p></li>
        <li><p><a href="/especialidades">Especialidades</a></p></li>
        <li><p><a href="#">Contacto</a></p></li>
       </ul>
      </div>
    </div>
  </header>
  <section class="banner"> 
    <img src="img/banner_index_01.png" alt="Banner institucional">
    <h1>Acá va una frase institucional o amigable</h1>
  </section>    

<main> <!--ESTUDIOS MEDICOS-->
  <section class="last_visit">
    <h3>ESTUDIOS MÉDICOS</h3>
    <div class="estudios">
      <article>
        <img src="img/radiologia.png" class="img_product" alt="imagen radiologia">
        <div class="main_article">
          <p class="description">Especialidades Médicas</p>
          <p><a  href="h">Pedir Turno</a></p>

        </div>
      </article>
      <article>
        <img src="img/radiologia.png" class="img_product" alt="img radiologia">
        <div class="main_article">
          <p class="description">Clínica Médica</p>
          <p><a  href="h">Pedir Turno</a></p>

        </div>
      </article>
      <article>
        <img src="img/radiologia.png" class="img_product" alt="img radiologia">
        <div class="main_article">
          <p class="description">Ecografías</p>
          <p><a  href="h">Pedir Turno</a></p>

        </div>
      </article>
      <article>
        <img src="img/radiologia.png" class="img_product" alt="img radiologia">
        <div class="main_article">
          <p class="description">Laboratorio</p>
          <p><a  href="h">Pedir Turno</a></p>
        </div>
      </article>
      <article>
        <img src="img/radiologia.png" class="img_product" alt="imagen radiologia">
        <div class="main_article">
          <p class="description">Especialidades Médicas</p>
          <p><a  href="h">Pedir Turno</a></p>

        </div>
      </article>
      <article>
        <img src="img/radiologia.png" class="img_product" alt="img radiologia">
        <div class="main_article">
          <p class="description">Clínica Médica</p>
          <p><a  href="h">Pedir Turno</a></p>

        </div>
      </article>
      <article>
        <img src="img/radiologia.png" class="img_product" alt="img radiologia">
        <div class="main_article">
          <p class="description">Ecografías</p>
          <p><a  href="h">Pedir Turno</a></p>

        </div>
      </article>
      <article>
        <img src="img/radiologia.png" class="img_product" alt="img radiologia">
        <div class="main_article">
          <p class="description">Laboratorio</p>
          <p><a  href="h">Pedir Turno</a></p>
        </div>
      </article>
    </div>
  </section> 
 <!--SECTION TURNOS-->

<section class="turnos">  <!--SECTION TURNOS-->
  <div class="divTurnosSection">
    <div class="turnos">
      <form action="turnos.html" method="POST">
        <div class="column1">
          <h3>MIS TURNOS</h3>
          <p>Turnos Para:</p>
          <select name="turnoPara" class="selectorCMD">
              <option value="Estudios">ESTUDIOS</option>
              <option value="Especialidades">ESPECIALIDADES</option>
          </select>
          <p>Especialidad:</p>
          <select name="especialidad" class="selectorCMD">
              <option value="1">ALERGIA</option>
              <option value="2">CARDIOLOGIA</option>
              <option value="3">CLINICA MEDICA</option>
              <option value="4">DERMATILOGÍA</option>
              <option value="5">ENDOCRINOLOGIA</option>
              <option value="6">FLEBOLOGIA</option>
              <option value="7">GASTROENTEROLOGIA</option>
              <option value="8">GINECOLOGIA</option>
              <option value="9">ODONTOLOGIA</option>
          </select>
          <p>Dr/Dra:</p>
          <select name="doctor" class="selectorCMD">
              <option value="1">Dra. Maradona Yanina</option>
              <option value="2">Dr. Coppola Guillermo</option>
              <option value="3">Dr. Messi Lionel</option>
          </select>
          <p>Fecha:</p>
          <select name="fecha" >
            <input type="date" name="fecha" value="2022-09-22" min="2022-09-01"max="2022-12-31">
          </select>
        </div>
    </div>
    <div class="column2"> 
        <h3>INFORMACIÓN PERSONAL</h3>
        <p>Los campos con * son obligatorios</p>
          <p> <input type="email" name="email" placeholder="EMAIL *" class="formCMD" required></p>
          <p><input type="text" name="nombre" placeholder="NOMBRE Y APELLIDO *" class="formCMD" required></p>
          <p><input type="number" name="telefono" placeholder="TELÉFONO *" class="formCMD" required></p>
          <div>
            <div class="idSection">
              <label for="documento">Tipo de documento:</label>
              <select class="idSelector">
                <option value="documento">DNI</option>
                <option value="documento">LC</option>
                <option value="documento">LE</option>              
              </select>
            </div>
            <div>
              <label for="documento"></label>
              <input type="text" class="formCMD" placeholder="NÚMERO DE DOCUMENTO *">
            </div>
          </div>

          <div class="buttonBox submitButton">
            <p><input type="submit" value="ENVIAR" class="sendButton">
            <input type="reset" value="CANCELAR" class="cancelButton"></p>
          </div>
    </div>  
    </form>
    <img src="/img/turnos.png">
  </div>
  </div>
</div>
</section>
<section class="banner"> 
  <img src="img/banner_contacto_03.png" alt="Banner contacto" >
  
</section>    
<section>  <!--SECTION CONTACTO-->
  <div class="ubicacion">
    
   <div class="map">
  <h3>UBICACION</h3>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.218285016829!2d-58.54937308477054!3d-34.59864138046075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb78eea744601%3A0x42c802cad54d54ce!2sPadre%20Silberman%201740%2C%20B1676BRP%20Santos%20Lugares%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1663784530531!5m2!1ses!2sar" 
    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
   <div class="contacto">
    <h3>CONTACTO</h3>
    <P>Clínica Médica David<br>
    <p>consultorios Médicos David<br> 
    <p>Padre Silberman 1740<br>
    <p>Buenos Aires, Santos Lugares<br>
    <p>Ver mapa<br>
    <p>info@consultorioscmd.com.ar<br>
    <p>newsletter@consultorioscmd.com.ar<br>
    <p>+54 11 4757-2389<br>
    </div>
    <div class="contacto-logo">
    <img  src="img/logoCMD.png" width="300px" alt="Logo CMD"/>
    </div>

   </div>

  </div>

</section>
</main>
    <footer>
        <div class="WhatsApp">
            <a href="" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl whatsAppLogo"></i></a>
            <span>Puedes hacer clic en el ícono o simplemente enviar un mensaje a +54 9 11 7080-3287</span>
        </div>
        <div class="divTelefono">
            <p><i class="fa-solid fa-phone"></i> 4757-2389</p>
        </div>
    </footer>
</body>
</html>
