@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');


.tituloEspecialidades{
    text-align: center;
    font-size: large;
}
main{
    min-height: 80%;
}
.especialidadesFooter{
    background-color: #012B78;
    color: white;
    align-self: flex-end;
    width: 100%;
    padding-top: 1.6%;
    padding-bottom: 0.65%;
}

.especialidadesBody{
    box-sizing: unset;
}

.especialidadesLogo img{
    background-position: left top;
    width: 90px;
    height: 90px;
}

.especialidadBox h2 {
    font-size: 20px;
    font-weight: bold;
    color: black
}

.especialidadBox p{
    font-size: 16px;
    font-style: italic;
}

@media (min-width: 600px) and (min-height: 600px){
    .tituloEspecialidades{
        text-align: center;
        font-size: xx-large;
    }

    .parrafoEspecialidades{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: medium;
    }

}
