@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');


.tituloEspecialidades {
    text-align: center;
    font-size: large;
}

main {
    min-height: 80%;
}

.especialidadesFooter {
    background-color: #012B78;
    color: white;
    align-self: flex-end;
    width: 100%;
    padding-top: 1.6%;
    padding-bottom: 0.65%;
}

.especialidadesBody {
    box-sizing: unset;
}

.especialidadesLogo img {
    background-position: left top;
    width: 90px;
    height: 90px;
}

.especialidadBox h2 {
    font-size: 20px;
    font-weight: bold;
    color: black
}

.especialidadBox p {
    font-size: 16px;
    font-style: italic;
}

.card-text {
    font-size: 16px;
}

.card {
    height: 100%;
    border-radius: 0px;
    border: white 0px solid;
    transition: all 300ms ease;
}

.card h5 {
    font-weight: bold;
    color: #012B78;
    border-bottom: #012B78 solid 2px;
}

#main-container {
    position: relative
}

.card-div {
    position: relative;
}

.card:hover {
    border: rgb(227, 227, 227) solid 1px;
    box-shadow: 0 0 5px #012B78;
    transform: scale(1.1);
    z-index: 10;
}

@media (min-width: 600px) and (min-height: 600px) {
    .tituloEspecialidades {
        text-align: center;
        font-size: xx-large;
    }

    .parrafoEspecialidades {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: medium;
    }

}
