@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans Condensed';
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color:#005725 ;
}

footer{
    width: 100%;
    color: white;
    text-align: center;
    background-color: #005725;
    font-size: 12px;
}

.logout a{
    color: white;
    text-decoration: none;
    transition: all 300ms;
}

.logout a:hover{
    text-shadow: 0 0 10px white;
}