@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

body{
    background-color: beige;
    font-family: 'Fira Sans Condensed';
    text-transform: uppercase;
}

header{
    background-color: #012B78;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 6%;

}

main{
    min-height: 93vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url('/img/salaDeEsperaBlanca.jpg');
    background-size: 1920px;
}

.divLogoConsultorio img {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 7vw;
    top: 20vh;
}

footer{
    background-color: #012B78;
    color: white;
    align-self: flex-end;
    width: 100%;
    padding-top: 1.6%;
    padding-bottom: 0.65%;
}

.formCMD{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #012B78;
    background-color: rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border: 1px solid #012B78;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: uppercase;
    margin-left: 5%;
    margin-bottom: 5px;
}

.blurBackground{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 0.375rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.formCMD::placeholder{
    color:#012B78;
}

.formCMD:focus{
    border-color: #1657cf;
    border-radius: 0px;
    box-shadow: 0 0 20px #012B78;
    text-transform: none;
    backdrop-filter: blur( 20px );
}

.formCMD:focus::placeholder{
    text-transform: uppercase;
}
/*---------- START MAIN'S STYLES ↓ ----------*/

.divContainerRegister{
    width: 20vw;
    height: 55vh;
    position: relative;
    left: 75vw;
    align-self: center; 
    border-style: solid;
    backdrop-filter: blur(5px);
}

.divRegistrarse{
    position: absolute;
    left: 4vw;
    top: 2vh;
}

.titleRegistrarse{
    color: #012B78;
    font-size: 2.7rem;
    margin-left: -2px;
}


.btn-registrar /*Botón de registrar sin fondo*/ {
    --bs-btn-color: white;
    --bs-btn-border-color: #012B78;
    --bs-btn-hover-color: #012b78;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #012B78;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #012B78;
    --bs-btn-active-border-color: #012B78;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #012B78;
    --bs-btn-disabled-border-color: #012B78;
    text-transform: uppercase;
    position: relative;
    justify-self: center;
    border-radius: 0px;
    background-color: #012B78;
    margin-left: 25%;
}


/*---------- END MAIN'S STYLES ↑ ----------*/

/*---------- START HEADER'S STYLES ↓ -----------*/

.imgLogo{
    position: relative;
    left: 50%;
    align-items: center;
    transition: all 300ms;
}

.imgLogo a img{
    width: 60px;
    height: 60px;
    transition: all 300ms;
}

.imgLogo a img:hover{
    width: 80px;
    height: 80px;
}

.divTelefono{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 1.8vw;
    top: 1.5vh;
    color: white;
    font-size: 1.3rem;
    text-align: justify;
}

.numeroDeTelefono{
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 1.2vw;
    position: relative;
    bottom: 0.7vh;
}

/*---------- END HEADER'S STYLES ↑ ----------*/

/*---------- START FOOTER'S STYLES ↓ ----------*/
.socialesLogos{
    align-self: center;
    position: relative;
    left: 60vw;
    bottom: 1vh;
}

.facebookLogo{
    position: relative;
    left: 2vw;
    color: white;
    transition: color 300ms;
}

.facebookLogo:hover{
    color: #698bd1;
}
.instagramLogo{
    color: white;
    transition: color 300ms;
}

.instagramLogo:hover{
    color:black;
}

.divFooterWhatsApp{
    align-items: center;
    position: relative;
    bottom: 0.5vw;
}

.whatsAppLogo{
    color: white;
    padding-right: 0.5vw;
    margin-left: 1vw;
    transition: color 300ms;
}

.whatsAppLogo:hover{
    color: #25D366;
}

.footerBox{
    display: flex;
    flex-direction: row;
}

/*---------- END FOOTER'S STYLES ↑ ----------*/

/*---------- RESPONSIVIDAD PARA 720p ↓ ----------*/

@media only screen and (min-width: 769px) and (max-width: 1366px){
    
    body{
        background-color: beige;
        font-family: 'Fira Sans Condensed';
        text-transform: uppercase;
        height: 100%;
    }

    /*---------- START HEADER'S STYLES ↓ ----------*/
    header{
        background-color: #012B78;
        display: flex;
        flex-direction: row;
        position: fixed;
        width: 100%;
        height: 6%;
    }

    .imgLogo{
        position: relative;
        left: 27%;
        top: 2vh;
        align-items: center;
        transition: all 300ms;
    }
    
    .imgLogo a img{
        width: 50px;
        height: 50px;
        transition: all 300ms;
    }
    
    .imgLogo a img:hover{
        width: 70px;
        height: 70px;
    }
    
    .divTelefono{
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 1.8vw;
        top: 3vh;
        color: white;
        font-size: 1.3rem;
        text-align: justify;
    }
    
    .numeroDeTelefono{
        font-size: 1.3em;
        font-weight: bold;
        margin-left: 1.2vw;
        position: relative;
        bottom: 0.7vh;
    }
    
    /*---------- END HEADER'S STYLES ----------*/

    /*---------- START MAIN'S STYLES ----------*/
    
    main{
        padding-top: 15vh;
        padding-bottom: 15vh;
    }

    .divContainerRegister{
        background-color: #d4dae6;
        width: 100%;
        height: 50vh;
        position: relative;
        left: 63vw;
        border-radius: 0.5rem;
    }
    
    .divRegistrarse{
        position: absolute;
        left: 5vw;
        top: 2vh;
    }
    
    .titleRegistrarse{
        color: #012B78;
    }
    
    
    .btn-registrar /*Botón de registrar sin fondo*/ {
        --bs-btn-color: #012B78;
        --bs-btn-border-color: #012B78;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #012B78;
        --bs-btn-hover-border-color: #012B78;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #012B78;
        --bs-btn-active-border-color: #012B78;
        --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #012B78;
        --bs-btn-disabled-border-color: #012B78;
        text-transform: uppercase;
        position: relative;
        left: 5vw;
    }

    /*---------- END MAIN'S STYLES ↑ ----------*/

    /*---------- START FOOTER'S STYLES ↓ ----------*/
    
    .socialesLogos{
        align-self: center;
        position: relative;
        left: 30vw;
        bottom: 1vh;
    }
    
    .facebookLogo{
        position: relative;
        left: 2vw;
        color: white;
        transition: color 300ms;
    }
    
    .facebookLogo:hover{
        color: #698bd1;
    }
    .instagramLogo{
        color: white;
        transition: color 300ms;
    }
    
    .instagramLogo:hover{
        color:black;
    }
    
    .divFooterWhatsApp{
        align-items: center;
        position: relative;
        bottom: 0.5vw;
    }
    
    .whatsAppLogo{
        color: white;
        padding-right: 0.5vw;
        margin-left: 1vw;
        transition: color 300ms;
    }
    
    .whatsAppLogo:hover{
        color: #25D366;
    }

    /*---------- END FOOTER'S STYLES ↑ ----------*/
}
