@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

body{
    background-color: beige;
    box-sizing: border-box;
}


header{
    width:100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 0,1%;
    padding-right: 0,1%;    
}

 .top-header{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #012B78;
    font-size: 1 em;
    font-family: 'Fira Sans Condensed';
    color: aliceblue;
	letter-spacing: 0.05em;
}

.top-header ul{
    display:flex;
    flex-direction: row;
    float:left;
    justify-content: space-between;
    list-style:none;
 }
    
.top-header li{
    text-align: center;
    padding-left: 2%;
    padding-right: 70px;
}

.top-header a{
    color: white;
    transition: color 300ms;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    padding-right: 20px; 
}

.top-header a:hover{
    color:black;
}
.social-media{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding-left:40px;
    padding-right:30px;
}

.social-media:hover{
    color:black;
}

.bottom-header{
    width:100%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-bottom: solid rgb(223, 223, 223) 2px ;
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 1%;

}

.logo{

    background-position: left top;
    margin-left: 30px;
    width: 80px;
    height: 80px;
    margin-bottom: 6px;
    
}

.Logo a img{
    width: 80px;
    height: 80px;
}

.main-menu{
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-left: 400px;
    
    

}
.main-menu ul{
    text-align: right!important;
    list-style:none
    
}
.main-menu li{
    font-size: 1.2em;
    font-family:'Fira Sans Condensed';
    text-decoration: none;
	text-transform: uppercase;
	width:20%;
	height:35px;
	/*padding: 6px 0px 0px 0px;*/
	float:left;
	text-align:center;
}
.main-menu p{
    width: 100%;
	height: inherit;
	text-align:center;
    padding-right: 20px;
}
.main-menu a{
    width: 100%;
    text-decoration: none;
    color: #012B78;
    font-weight: bold;
	/*padding: 6px 0px 6px 0px;*/
   
}
main{
    display: flex;
    flex-direction: column;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

footer{
    display: flex;
    flex-direction: row;
    font-size: 1 em;
    font-family: 'Fira Sans Condensed';
    color: aliceblue;
	letter-spacing: 0.05em;
    background-color: #012B78 ;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%
}
.middleHigh{
    justify-content:space-around;
    align-items: center;
    margin: 0.2rem;
}


.marginLeft{
    margin-left: 3%;
    flex-wrap: wrap;
    
}
/* ---TURNOS ---*/

