@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
    /* o 3 em*/
    font-family: 'Fira Sans Condensed';
}

h3 {
    font-size: 24px;
    /* o 1.5em*/
    font-family: 'Fira Sans Condensed';
}

h2 {
    font-size: 16px;
    font-family: 'Fira Sans Condensed';
}

p {
    font-size: 18px;
    /* o 1 em*/
    font-family: 'Fira Sans Condensed';
}

header {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 0, 1%;
    padding-right: 0, 1%;
}

.top-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    float: right;
    background-color: #012B78;
    color: aliceblue;
    letter-spacing: 0.05em;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: space-between;
}

.nav-top-header {
    display: flex;
    box-sizing: border-box;
    float: right !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-header ul {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style: none;
}

.top-header li {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1em;
}

.top-header a {
    color: white;
    transition: color 300ms;
    padding-right: 30px;
    text-transform: none;
    /*elimina propiedad de una regla ya declarada pseuudoclase */
    text-decoration: none;
    letter-spacing: 0.05em;
    text-align: center
}

.top-header a:hover {
    color: black;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.social-media:hover {
    color: black;
}

.bottom-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #ffffff;
    border-bottom: solid rgb(223, 223, 223) 2px;
    box-sizing: border-box;
    align-items: center;
}

.logo a img {
    background-position: left top;
    width: 90px;
    height: 90px;
}

.main-menu {
    width: 100%;
    box-sizing: border-box;
    float: right !important;
}

.main-menu ul {
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    float: right;
    list-style: none
}

.main-menu li {
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.main-menu a {
    text-decoration: none;
    font-size: 1.2em;
    color: #012B78;
    height: inherit;
    padding-right: 30px;
    font-weight: bold;
    text-align: center;
}

.main-menu a:hover {
    color: black;
}

section {
    width: 100%;

}

section.banner img {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

section.banner h1 {
    letter-spacing: 0.05em;
    color: #012B78;
    width: 100%;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 130px;
}

/* --- Main estudios  */
main {
    width: 90%;
    margin: 0 auto;
}

main section h3 {
    color: rgb(73, 73, 73);
    text-transform: uppercase;

}

main section {
    background-color: #fff;
    margin: 20px 0px;
    font-family: 'Fira Sans Condensed';
}

main section article img {
    width: 100%;
}

main section article p,
.description {
    color: #012B78;
    text-align: center;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 10px;
}


main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

/* ---SECCION TURNOS---*/
section.turnos {
    margin-top: 20px;
}

.turnos {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}

.column1 {
    align-items: baseline;
    position: absolute;
    width: 33%;
    margin-left: 2vw;
    margin-top: 1vw;
}

.column1 p {
    color: #012B78;
    font-size: 16px;
    padding-top: 10px;
}

.column2 {
    align-items: baseline;
    position: absolute;
    width: 33%;
    margin-left: 40%;
    margin-top: 1vw;
}

.column2 p {
    color: #012B78;
    font-size: 16px;
    padding-top: 10px;
}

.selectorCMD {
    position: relative;
    width: 90%;
    border-radius: 0.275rem;
    border-color: #012B78;
    border-style: solid;
    border-width: 2px;
    padding-left: 1vw;
    padding-top: 0.126vw;
    padding-bottom: 0.125vw;
    font-family: 'Fira Sans Condensed';
    color: #727272;
    font-weight: bold;
    transition: all 300ms;
}

.selectorCMD option {
    background-color: white;
    color: #012B78;
    font-weight: bold;

}

.selectorCMD:hover {
    box-shadow: 0 0 20px;
}

.selectorCMD:focus {
    background-color: #012B78;
    color: white;
}

.formCMD {
    position: relative;
    width: 80%;
    border-radius: 0.275rem;
    border-color: #012B78;
    border-style: solid;
    border-width: 2px;
    height: 2vw;
    color: #012B78;
    font-family: 'Fira Sans Condensed';
    padding-left: 1vw;
    font-weight: bold;
    transition: all 300ms;
}

.formCMD::placeholder {
    font-weight: bold;
    font-family: 'Fira Sans Condensed';
}

.formCMD:hover {
    box-shadow: 0 0 20px;
}

.formCMD:focus {
    box-shadow: 0 0 20px;
    color: #012B78;
    font-family: 'Fira Sans Condensed';
    font-weight: bold;
}


.idSection {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    margin-bottom: 0.3vw;
}

.idSection label {
    padding-right: 1vw;
}

.idSelector {
    position: relative;
    border-radius: 0.275rem;
    border-color: #012B78;
    border-style: solid;
    border-width: 2px;
    padding-left: 1vw;
    padding-top: 0.126vw;
    padding-bottom: 0.125vw;
    font-family: 'Fira Sans Condensed';
    color: #727272;
    font-weight: bold;
    bottom: 0.225vw;
    transition: all 300ms
}

.idSelector:hover {
    box-shadow: 0 0 20px;
}

.idSelector:focus {
    background-color: #012B78;
    color: white;
}

.idSelector option {
    background-color: white;
    color: #012B78;
    font-weight: bold;

}

.buttonBox {
    position: absolute;
    left: 4vw;
}

.sendButton {
    position: relative;
    background-color: #012B78;
    color: white;
    border-radius: 0.225rem;
    font-family: 'Fira Sans Condensed';
    width: 5vw;
    height: 2vw;
    border: 1px solid white;
    transition: all 300ms;
}

.sendButton:hover {
    background-color: white;
    color: #012B78;
    font-weight: bold;
    border: 2px solid #012B78;
}

.sendButton:focus {
    box-shadow: 0 0 20 #012B78;
}

.cancelButton {
    position: relative;
    background-color: #929292;
    color: white;
    border-radius: 0.225rem;
    margin-left: 1vw;
    width: 7vw;
    height: 2vw;
    border: 1px solid white;
    font-family: 'Fira Sans Condensed';
    transition: all 300ms;
}

.cancelButton:hover {
    background-color: #727272;
    font-weight: bold;
}


/* ---  footer ----- */
/* footer {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    font-family: 'Fira Sans Condensed';
    color: aliceblue;
    align-items: center;
    letter-spacing: 0.05em;
    background-color: #012B78;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;

} */

.WhatsApp i {
    color: aliceblue;
    padding-right: 10px;
}

/* ---TURNOS---*/

.divTurnosSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.divTurnosSection img {
    width: 17vw;
    padding-top: 1vw;
    padding-bottom: 2vw;

    position: relative;
    left: 9vw;

}

/*---CONTACTO ---*/

div.ubicacion {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-right: 2%;
    padding-left: 2%;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;

}

div.map {
    width: 33%;
    margin-right: 20px;
    align-items: baseline;
}

.map h3 {
    padding-bottom: 30px;
}

.contacto {
    align-items: baseline;
    width: 70%;
    padding-top: 15px;
    float: right;
    margin-left: 0px;
}

.contacto h3 {
    padding-bottom: 40px;
    font-weight: bolder;
}

.contacto p {
    color: #012B78;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.contacto-logo {
    float: right !important;
    background-position: right;
    margin-top: 10px;

}

.especialidadImg{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px #cecece;
    z-index: 2;
    overflow: hidden;
}
.especialidadImg span{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 20px 5px 20px white;
    z-index: 10;
    text-align: center;
}

.practicaBackground{
    color: white;
    position: absolute;
    text-transform: uppercase;
    font-size: 200px;
    max-width: 100%;
    z-index: -3;
    opacity: 5%;
}

.practicasMedicasTitle{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.practicasMedicasTitle a{
    text-decoration: none;
    font-size: 20px;
    color: #012B78;
    transition: all 300ms;
}

.practicasMedicasTitle a:hover{
    font-size: 21px;
    color: #043ca3;
    font-weight: bold;
}
/* ------@MEDIA-------*/
@media (min-width: 361px) {
    main section div.estudios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.estudios article {
        width: 45%;
    }

    .contacto-logo img {
        display: none;
    }

    div.map iframe {
        width: 300px;
        height: 200px;
    }

    div.map h3 {
        padding-bottom: 0px;

    }

    div.contacto {
        /*  padding-top: 420px; -cuando cambie contacto-*/
        width: 250px;
        padding-bottom: 30px;

    }

    div.contacto p {
        padding-top: 5px;
        font-size: 12px;
    }

    div.contacto h3 {
        padding-top: 30px;
        padding-bottom: 0px;
        font-weight: bolder;

    }
}

@media (min-width: 769px) {

    header {
        display: block;
    }

    main section div.estudios article {
        width: 22%;
    }

    .contacto-logo img {
        display: none;
    }

    div.map iframe {
        width: 345px;
        align-items: baseline;
    }

    div.map h3 {
        padding-bottom: 0px;
    }

    div.contacto h3 {
        padding-top: 30px;
        padding-bottom: 0px;
        font-weight: bolder;
        margin-left: 35px;
    }
}

@media (min-width: 1366px) {
    .contacto-logo img {
        align-items: baseline;
        display: inline-block;
    }

    div.map iframe {
        width: 500px;
        height: 200px;
    }

    div.map h3 {
        padding-bottom: 10px;
        font-weight: bolder;

    }

    div.contacto {
        /*  padding-top: 420px; -cuando cambie contacto-*/
        width: 250px;
        padding-bottom: 30px;

    }

    div.contacto p {
        padding-top: 5px;
        font-size: 18px;
        font-weight: bolder;
    }

    div.contacto h3 {
        padding-top: 30px;
        padding-bottom: 10px;
        font-weight: bolder;

    }
}
