<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Clínica - CMD</title>
    <%- include('../../partials/headPartials.ejs') %>
</head>
<body>
    <header>
        <%- include('../../partials/prestadoresHeader.ejs') %>
    </header>
    <main>

    </main>
    <!-- SCRIPTS -->
    <%- include('../../partials/scriptPartials.ejs') %>
</body>
</html>