<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../partials/headPartials.ejs') %>
    <title>Turnos - CMD</title>
</head>
<body>
    <header>
        <%- include('../../partials/prestadoresHeader.ejs') %>
    </header>
    <main>
        <div>alo aria-controls</div>
    </main>
    
    <%- include('../../partials/scriptPartials.ejs')  %>
</body>
</html>