<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../partials/headPartials.ejs') %>
        <link rel="stylesheet" href="/css/sectionPrestadores/profesionales/turnos.css">
        <title>Turnos - CMD</title>
</head>

<body>
    <header>
        <%- include('../../partials/prestadoresHeader.ejs') %>
    </header>
    <main>
        <aside>
            <div id="pagination">
                <a id="prevMonth">&lt;</a>
                <span id="currentMonth"></span>
                <a id="nextMonth">&gt;</a>
            </div>
            <div id="calendar"></div>
        </aside>
        <div>

        </div>
    </main>

    <%- include('../../partials/scriptPartials.ejs') %>
        <script src="/js/profesionales/turnos.js"></script>
</body>

</html>