<footer>
    <div>
        <a href="https://wa.me/message/JARCJT66KGQ3L1" target="_blank"><i class="fa-brands fa-whatsapp fa-2xl whatsAppLogo"></i></a>
        <span>Puedes hacer clic en el ícono o simplemente enviar un mensaje a +54 9 11 7020-3287</span>
    </div>
    <div>
        <p><i class="fa-solid fa-phone"></i> 4757-2389</p>
    </div>
</footer>
