<header> <!--start header-->
<div class = "top-header">
  <div class ="social-media" >
    <a href = "https://www.instagram.com/consultoriosmedicosdavid/" target="_blank"><i class="fa-brands fa-instagram fa-2xl fontColor "></i></a>
    <a href = "https://www.facebook.com/ConsultoriosMedicosDavid" target="_blank"><i class="fa-brands fa-facebook fa-2xl fontColor"></i></a>
  </div>

  <nav class="nav-top-header">
     <ul class="top-header-ul">
      <li><p><a  href="/pacientes/login">Pacientes</a></p></li>
      <li><p><a  href="/prestadores/home">Prestadores</a></p></li>
         <% if (locals && usuario) { %>
             <li><p class="error"> Bienvenido:  <%= usuario.nombre %> </p></li>
             <li><p><a  href="/pacientes/logout"> Cerrar Sesión </a></p></li>
         <% } %>
     </ul>
  </nav>
</div>
<div class="bottom-header">
  <div class="logo">
   <a href="/"><img src="../img/logoCMD.png" alt="Logo CMD"/></a>
  </div>
  <div class="main-menu">
    <ul>
    <li><p><a href="#">Nosotros</a></p></li>
    <li><p><a href="/pacientes/register">Registro</a></p></li>
    <li><p><a href="/turnos">Turnos</a></p></li>
    <li><p><a href="/especialidades">Especialidades</a></p></li>
    <li><p><a href="#">Contacto</a></p></li>
   </ul>
  </div>
</div>
</header>
