<div class="row align-items-center">
    <div class="col">
      <a href="/"><img src="../../img/logoCMD.png" width="65px" height="65px" alt="logo_CMD.png" style="margin-left: 2vw;"></a>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <% if (locals.isLogged) { %>
      <div class="col logout">
        <a href="/prestadores/logout"><i class="fa-solid fa-power-off"></i> Cerrar sesión</a>
      </div>
    <% } %>
</div>