<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar prestador</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../../../css/prestadoresPartials.css">
</head>

<body>
    <header>
        <%- include('../partials/prestadoresHeader.ejs')%>
    </header>
    <main>
        <h1 style="text-align: center; font-weight: bold">Eliminar médico público</h1>
        <form action="/prestadores/home/confirmDelete/<%=prestador.id %>?_method=DELETE" method="POST">
            <h2 style="text-align: center; font-size: 20px;">Está por eliminar a <p style="color: blue; display: inline; font-weight: bold;"><%=prestador.apellido + ", " + prestador.nombre %></p> del listado de médicos públicos. ¿Está seguro?</h2>
            <div style="display: flex; justify-content: center; justify-content:space-around">
                <div style="width: 20vw;">
                    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
                    <a href="/prestadores/home"><button type="button" class="btn btn-primary">No, volver al home</button></a>
                </div>
            </div>
        </form>
    </main>
</body>

</html>