<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especialidades - CMD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../css/prestadoresPartials.css">
    <link rel="stylesheet" href="../css/globalFunctions.css">
    <link rel="stylesheet" href="../css/sectionPrestadores/especialidades_admin.css">


</head>

<body>
    <header>
        <%- include('../partials/prestadoresHeader.ejs')%>
    </header>
    <main>
        <div id="mainBody">

        </div>
        <div class="titulo">
            <h1>Listado de especialidades</h1>
        </div>
        <div class="listContainer">
            <div class="itemContainer">
                <div class="navBarContainer">

                    <!-- Añadir trigger -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Añadir
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir especialidad</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/prestadores/agregarEspecialidad" method="post"
                                        id="addEspecialidadForm">
                                        <div class="input-group input-group-sm mb-3">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Especialidad</span>
                                            <input type="text" class="form-control" aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-sm" name="especialidadNombre"
                                                id="addEspecialidadInput">
                                        </div>
                                        <div id="divError">

                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-success" id="addButton">Agregar</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-light">

                        <div class="container-fluid">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Buscar especialidad"
                                    aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </div>
                    </nav>
                </div>
                <div id="divEspecialidades">
                    

                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="../js/validations/agregarEspecialidadValidations.js"></script>
    <script src="../js/especialidad.js"></script>
</body>

</html>