<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador CMD - Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/prestadoresPartials.css">
    <link rel="stylesheet" href="/css/sectionPrestadores/prestadoresHome.css">
    <%- include('../partials/headPartials.ejs') %> 
</head>

<body>
    <header>
        <%- include('../partials/prestadoresHeader.ejs')%>
    </header>
    <main>
        <br>
        <div class="encabezado">
            <% if (locals && usuario.sexo == 1) { %>
                <h1>Bienvenido <%= usuario.nombre %>!</h1>
            <% } else { %>
                <h1>Bienvenida <%= usuario.nombre %>!</h1>
            <% } %>    
            <% if (locals && usuario.Rol_id == 1) { %>
                <span>Ingresaste a esta sección en modo <b>Administrador</b>, tené cuidado! Podes agregar, editar o eliminar cualquier cosa del sistema.</span>
            <% } else if (locals && usuario.Rol_id == 2) { %>
                <span>Puedes ingresar turnos, informarle a los profesionales sobre pacientes presentes y mucho más.</span>
            <% } else if (locals && usuario.Rol_id == 3) { %>
                <span>Podés atender pacientes y las historias clínicas están agendadas en el sistema.</span>             
            <% } %>
            <h6 style="text-align: center; font-style: italic;">Última actualización 15/03/2023 - 2:25 AM GMT-3 - v1.0.0.1</h6>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>