/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

body{
    font-family: 'Fira Sans Condensed';
}

/* HEADER'S STYLES */
header{
    max-width: 100%;
    background-color:#005725 ;
}

/* MAIN'S STYLES */

#main{
    padding: 15% 0%;
    background-image: url('/img/prestadoresBackground.jpg');
    background-size: 100%;
    backdrop-filter: blur(10px);
    display: flex;
}

.logInContainer{
    width: 10vw;
    margin-left: 30px;

}