@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans Condensed';
    box-sizing: border-box;
}

main {
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.mainBody {
    width: 100%;
}

.mainBody table {
    text-align: center;
}

.sideBar {
    background-color: #f8f9fa;
    height: 100vh;
    width: 25%;
    max-width: 25%;
    min-height: 100%;
    color: rgb(29, 29, 29);
    padding-top: 1vw;
}


/* BOTÓN */

.wrapper .button {
    top: 90%;
    left: 90%;
    position: fixed;
    z-index: 10;
    height: 60px;
    width: 60px;
    float: left;
    overflow: hidden;
    margin: 0 5px;
    background-color: #005725;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(103, 103, 103, 0.7);
    color: white;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover{
    width: 200px;
    left: 85%;
    background-color: #008a3c;

}

.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}
.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    opacity: 0;
    transition: all 0.8s ease-out;
}

.wrapper .button:hover span{
    opacity: 1;
    margin-bottom: 30px;
    position: relative;
    bottom: 5%;
    right: 5%;
}
.horario{
    flex-wrap: wrap;
    height: 100%;
}
.horario span{
    padding: 10px 35px;
    border: 1px black solid;
    background-color: #edeeed;
    box-sizing: border-box;
    border-radius:  25px;
    cursor: pointer;
    transition: all;
}

.horario span:hover{
    background-color: #00572693;
    color: white;   
    border: 1px black solid; 
}

.horario-selected span{
    background-color: #005725;
    color: white;
    border: 1px white solid;
    outline: 1px black solid;
    box-shadow: 0 0 10px rgb(94, 93, 93);
}

.horario-disabled span{
    background-color: rgb(247, 247, 247);
    color: gray;
    border: 1px gray solid;
    cursor: not-allowed;
}

#sugerencias{
    background-color: white;
    box-shadow: 0 0 5px rgb(130, 130, 130);
    width: 100%;
    padding: 20px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 8;
    position: absolute;
    display: none;

}

#sugerencias li {
    display: block;
    width: 100%;
    padding: 12px 20px;
    cursor: pointer
}

#sugerencias li:hover{
    background-color: #edeeed;
}

#pacienteInfo{
    background-color: #edeeed;
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px;
    display: none;
}

#pacienteInfo label{
    font-weight: bold;
}

#pacienteInfo span{
    font-size: 16px;
}