<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCESO DENEGADO</title>
</head>
<body>
    <main>
        <h1>ACCESO DENEGADO</h1>
        <img src="https://media.discordapp.net/attachments/998354815539228872/1050520522917675078/img-denied.png?width=371&height=334">
        <a href="/">VOLVER AL HOME</a>
    </main>
</body>
</html>